.Board {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100vh;
  padding: 30px;
}

.Word {
  flex: 2;
  text-align: center;
}

.Button {
  justify-content: center;
  padding: 20px 30px;
  background-color: white;
  border: 3px solid #333;
  border-radius: 5px;
  font-size: 2rem;
}

.Input {
  max-width: 50px;
  padding: 20px;
  border: none;
  border-bottom: 3px solid #333;
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
}

.Button:hover {
  border-color: goldenrod;
  cursor: pointer;
}

.WordBlanks {
  font-size: 5rem;
  letter-spacing: 2rem;
  text-transform: uppercase;
}

.IncorrectGuess {
  color: red;
}

.GuessedLetters {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 1rem;
  text-transform: uppercase;
}

.GameOverMessage {
  font-size: 1.5rem;
}

.Hangman {
  flex: 1;
}

.Hangman__gallows {
  max-width: 200px;
  height: 500px;
  padding-right: 100px;
  border-top: 10px solid goldenrod;
  border-right: 10px solid goldenrod;
  border-radius: 5px;
}

.Hangman__head {
  width: 100px;
  height: 100px;
  position: relative;
  visibility: hidden;
  border-radius: 50%;
  border: 10px solid #333;
}

.Hangman__torso {
  width: 10px;
  height: 200px;
  position: absolute;
  top: 100px;
  left: 50%;
  visibility: hidden;
  background-color: #333;
}

.Hangman__left-arm {
  width: 10px;
  height: 130px;
  position: absolute;
  top: 90px;
  transform: rotate(45deg);
  visibility: hidden;
  background-color: #333;
}

.Hangman__right-arm {
  width: 10px;
  height: 130px;
  position: absolute;
  top: 90px;
  left: 100%;
  transform: rotate(-45deg);
  visibility: hidden;
  background-color: #333;
}

.Hangman__left-leg {
  width: 10px;
  height: 130px;
  position: absolute;
  top: 275px;
  left: 5%;
  transform: rotate(45deg);
  visibility: hidden;
  background-color: #333;
}

.Hangman__right-leg {
  width: 10px;
  height: 130px;
  position: absolute;
  top: 275px;
  left: 95%;
  transform: rotate(-45deg);
  visibility: hidden;
  background-color: #333;
}

.VisibleHangmanPart {
  visibility: visible;
}
